[Unit]
Description=Mount ADATA SSD when plugged in
After=local-fs.target

[Mount]
What=/dev/disk/by-uuid/0520b2a2-c684-4743-b01e-b42ed6f3b027
Where=/mnt/data_storage
Type=ext4
Options=defaults,nofail
TimeoutSec=30

[Install]
WantedBy=multi-user.target
